<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.problem.mapper.ProblemMapper">
	<select id="getProList"  parameterType="Pro" resultType="Pro">
		 SELECT 
				 problem_id,
		 		 subject,
		 		 haeseol,
		 		 problem_text,
		 		 ans_1,
		 		 ans_2,
		 		 ans_3,
		 		 ans_4,
		 		 ans_correct
		FROM  problem
	</select>
	<insert id="insertPro" parameterType="Pro">
	<selectKey keyProperty="problem_id" resultType="string" order="BEFORE">
    	SELECT PROBLEM_SEQ.NEXTVAL FROM DUAL
  	</selectKey>
		INSERT INTO PROBLEM (
								problem_id,
		 		 				subject,
		 						haeseol,
		 						problem_text,
		 			 			ans_1,
						 		ans_2,
						 		ans_3,
						 		ans_4,
						 		ans_correct,
						 		paperhead_id
							 )
					 VALUES  (
					 			#{problem_id},
					 			#{subject},
					 			#{haeseol},
					 			#{problem_text},
					 			#{ans_1},
					 			#{ans_2},
					 			#{ans_3},
					 			#{ans_4},
					 			#{ans_correct},
					 			PAPERHEAD_SEQ.NEXTVAL
					 		 )
		
	</insert>
	<update id="updatePro">
		UPDATE PROBLEM SET SUBJECT = #{subject}, 
						   PROBLEM_TEXT = #{problem_text},
						   ANS_1 = #{ans_1}, 
						   ANS_2 = #{ans_2}, 
						   ANS_3 = #{ans_3}, 
						   ANS_4 = #{ans_4}, 
						   HAESEOL = #{haeseol}
					
					WHERE PROBLEM_ID = #{problem_id}
	</update>
	<delete id="deletePro">
		DELETE PROBLEM WHERE PROBLEM_ID = #{problem_id}
	</delete>
</mapper>